@use "@/styles/util";

.reviews {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-block: var(--section-spacing);

  .reviewList {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

.fullReviewList {
  composes: reviewList;

  .reviewCard {
    background-color: var(--color-gray-200);
  }
}
