@use "@/styles/util";

.reviewList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.fullReviewList {
  composes: reviewList;

  .reviewCard {
    background-color: var(--color-gray-200);
  }
}
