@import "@/styles/media";

.recommendations {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-block: var(--section-spacing);

  .recommendationList {
    gap: 2rem;
    @include media("<md") { gap: 1rem; }

    .recommendationCard {
      flex-basis: 200px;
      flex-shrink: 0;
      @include media("<md") { flex-basis: 150px; }
    }
  }
}

.recommendationsSkeleton {
  composes: recommendations;
  overflow: hidden;
  max-width: 1048px;

  .recommendationList {
    display: flex;
    gap: 2rem;

    .mediaCard {
      display: flex;
      height: 358.3px;
      flex-direction: column;
      gap: 0.5rem;
    }
  }
}