@use "@/styles/util";
@import "@/styles/media";

.videos {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-block: var(--section-spacing);
}

.fullVideoList {
  display: grid;
  gap: 4rem 2rem;
  grid-template-columns: repeat(3, minmax(0, 1fr));

  .video {
    .thumbnailLink {
      width: auto;

      .videoThumbnail { width: 100%; }
    }
  }
}

.videosSkeleton {
  composes: videos;
  overflow: hidden;
  max-width: 1048px;

  .videoList {
    display: flex;

    .video {
      display: flex;
      height: 235.2px;
      flex-direction: column;
      gap: 0.5rem;
    }
  }
}