@use "sass:color" as sass-color;
@use "@/styles/util";
@use "@/styles/color";
@import "@/styles/media";

.header {
  display: flex;
  padding-bottom: 1.5rem;
  gap: 1.5rem;
  @include media("<md") { padding-top: 1.5rem; }
  @include media(">md") {
    height: 30vh;
    margin-left: calc(var(--poster-width) + 2rem);
  }

  .movieBackdrop {
    position: absolute;
    z-index: -1;
    top: var(--content-nav-height);
    right: 0;
    left: 0;
    height: inherit;
    background-position: left 10%;
    background-size: cover;
    @include media("<md") { display: none; }

    &::after {
      position: absolute;
      background-image: linear-gradient(to bottom, transparent, rgb(0 0 0 / 0.875));
      content: "";
      inset: 0;
    }
  }

  .moviePoster {
    width: clamp(120px, 50%, 200px);
    height: 100%;
    flex-shrink: 0;
    border-radius: 6px;
    aspect-ratio: 2/3;
    background-color: var(--dynamic-gray-150);
    @include media(">md") { display: none; }
  }

  .movieHeader {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .movieTitle {

      @include media(">md") {
        color: color.$gray-100;
        text-shadow: 0 0 8px rgb(0 0 0 / 0.75);
      }
    }

    .movieDetailList {
      display: flex;
      margin-top: 1.5rem;
      gap: 1.5rem;
      @include media(">md") { color: sass-color.scale(color.$gray-100, $alpha: -25%); }
      @include media("<md") { flex-direction: column; }

      .movieDetailItem {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        .ratingStar {
          @include media("<phone") { display: none; }
        }

        .ratingStarMb {
          margin-left: 4px;
          @include media(">phone") { display: none; }
        }

        header {
          color: inherit;

          h3 {
            display: inline;
            @include media(">md") { color: color.$gray-100; }
          }

        }
      }
    }
  }
}

.headerSkeleton {
  composes: header;
}