@import "@/styles/media";

.columnLeft {
  display: flex;
  width: var(--poster-width);
  flex-direction: column;
  flex-shrink: 0;
  gap: 1.5rem;
  @include media("<md") {
    width: 100%;
    flex-direction: row;
    align-items: flex-end;
  }

  .personPhotoFallback {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-gray-400);
  }

  .personPhoto,
  .personPhotoFallback,
  .personPhotoSkeleton {
    width: 100%;
    height: 100%;
    border-radius: var(--rounded-base);
    aspect-ratio: 2/3;
    background-color: var(--color-gray-200);
    @include media("<md") {
      width: var(--poster-width);
      align-self: center;
      object-fit: cover;
      object-position: top;
    }
  }

  .personName {
    @include media(">md") {
      display: none;
    }
  }

  .facts {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .factGroup {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      .title {
        color: var(--theme-text-title);
      }
    }
  }
}