@import "@/styles/media";

.personInfoPage {
  --sidebar-width: 300px;
  --layout-gap: 2rem;
  @include media("<md") { --layout-gap: 1.5rem; }

  .layout {
    display: flex;
    align-items: flex-start;
    gap: var(--layout-gap);
    padding-block: var(--section-spacing);
    @include media("<lg") {
      flex-direction: column;
    }
  }
}