@use "@/styles/util";
@import "@/styles/media";

.featuredCard {
  position: relative;
  border: 1px solid var(--theme-outline);

  .backdrop {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    inset: 0;
  }

  .infoContainer {
    display: flex;
    backdrop-filter: blur(8px);
    background-image: linear-gradient(rgb(255 255 255 / 0.75), rgb(255 255 255 / 0.95));
    @media (prefers-color-scheme: dark) { background-image: linear-gradient(rgb(0 0 0 / 0.75), rgb(0 0 0 / 0.95)); }

    .posterLink {
      display: flex;
      width: 25%;
      flex-shrink: 0;
      transition: scale 150ms;

      .mediaPoster {
        object-fit: cover;
        object-position: center;
      }

      .mediaPosterFallback {
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--dynamic-gray-400);
      }

      .mediaPoster,
      .mediaPosterFallback {
        width: 100%;
        height: 100%;
        border: 1px solid var(--theme-outline);
        aspect-ratio: 2/3;
        background-color: var(--dynamic-gray-150);
        transition: scale 150ms;

        &:hover { scale: 1.05; }
      }

      &:hover { scale: 1.05; }
    }

    .mediaInfo {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding: 1.5rem;
      gap: 1rem;

      .mediaRating {
        display: flex;
        align-items: center;
        color: var(--theme-text-title);
        gap: 0.5rem;

        .ratingIcon { color: var(--dynamic-yellow-600); }
      }

      .mediaTitle {
        color: var(--theme-text-title);
        font-size: 1.375rem;
        font-weight: 500;
      }

      .mediaOverview {
        @include util.line-clamp(3);
      }

      .actions {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: -8px;
        margin-left: -8px;
        gap: 0.5rem;
      }
    }
  }
}
