@use "@/styles/util";

.reviewCard {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  border-radius: 6px;
  background-color: var(--dynamic-gray-100);
  gap: 1rem;

  .reviewHeader {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .reviewRating {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      .ratingIcon { color: var(--dynamic-yellow-600); }
      .ratingAmount { color: var(--theme-text-title); }
    }

    .reviewDetails > :not(:first-child)::before { @include util.circular-divider(); }
  }

  &[data-line-clamp] .reviewContent {
    @include util.line-clamp(4);
  }
}
