@use "@/styles/util";
@import "@/styles/media";

.videoCard {
  display: flex;
  flex-direction: column;

  .thumbnailLink {
    display: flex;

    .videoThumbnail {
      width: 100%;
      height: 100%;
      border: 1px solid var(--theme-outline);
      border-radius: var(--rounded-base);
      aspect-ratio: 16/9;
      background-color: var(--dynamic-gray-150);
      object-fit: cover;
      transition: scale 150ms;

      &:hover { scale: 1.05; }
    }
  }

  .videoName {
    margin-top: 1rem;
    color: var(--theme-text-title);
    font-size: 1.125rem;
    @include util.line-clamp(1);
  }

  .publishedAt { margin-top: 0.5rem; }
}
