@use "@/styles/util";

.expandable {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  transition: max-height 300ms;

  p {
    display: inline;
    line-height: 24px;

    &[data-state="initial"] {
      display: -webkit-box;
      overflow: hidden;
      -webkit-box-orient: vertical;
    }
  }
}