@import "@/styles/media";

.scrollerContainer {
  position: relative;

  &::before {
    left: -12px;
    background-image: linear-gradient(
      to left,
      transparent,
      var(--theme-background)
    );
  }

  &::after {
    right: -12px;
    background-image: linear-gradient(
      to right,
      transparent,
      var(--theme-background)
    );
  }

  &[data-scroll-position="start"]::before { opacity: 0; }
  &[data-scroll-position="end"]::after { opacity: 0; }

  .scrollerTrack {
    --item-count: var(--scroller-columns);
    --scroller-gap: var(--content-spacing);
    --scroller-max-width: calc(var(--content-width) + var(--content-spacing) * 2);
    --scroller-item-width: calc((var(--scroller-max-width) - (var(--scroller-columns) + 1) * var(--scroller-gap)) / var(--item-count));
    display: grid;
    overflow: hidden;
    max-width: var(--scroller-max-width);
    padding: var(--content-spacing);
    margin: calc(var(--content-spacing) * -1);
    gap: var(--scroller-gap);
    grid-auto-flow: column;
    grid-template-columns: repeat(var(--scroller-columns), var(--scroller-item-width));
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-padding-inline: var(--content-spacing);
    @include media("<md") {
      --scroller-gap: 1rem;
      --item-count: calc(var(--scroller-columns) + 2);
      scroll-snap-type: x mandatory;
    }

    &::-webkit-scrollbar { display: none; }
    &[data-max-width="withSidebar"] {
      @include media(">md") {
        --scroller-max-width: calc(var(--content-width) - var(--sidebar-width) - var(--layout-gap) + (var(--content-spacing) * 2)) !important;
      }
      @include media("<md") {
        --item-count: calc(var(--scroller-columns) + 3);
      }
    }

    > * {
      width: var(--scroller-item-width);
      scroll-snap-align: start;
    }
  }
}
