@import "@/styles/media";

.section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  &.paddingBase { padding-block: var(--section-spacing); }
  &.paddingContent { padding-block: var(--content-spacing); }

  .sectionHeader {
    display: flex;
    height: 36px;
    align-items: center;
    justify-content: space-between;

    h1 {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }

    .scrollerControls {
      display: flex;
      gap: 0.5rem;

      @include media("<md") { display: none; }
    }
  }
}