@use "sass:color";
@use "@/styles/colors";

.skeleton {
  background-color: var(--theme-skeleton);

  &.roundedBase { border-radius: var(--rounded-base); }
  &.roundedFull { border-radius: var(--rounded-full); }
}

.skeletonParagraphContainer {
  display: flex;
  flex-direction: column;
  gap: 6px;

  > * { flex: 1; }
}
