@use "@/styles/util";
@import "@/styles/media";

.featuredCard {
  display: flex;
  align-items: center;

    .posterLink {
      display: flex;
      width: 25%;
      flex-shrink: 0;

      .mediaPoster {
        z-index: 10;
        object-fit: cover;
        object-position: center;
      }

      .mediaPosterFallback {
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--color-gray-400);
      }

      .mediaPoster,
      .mediaPosterFallback {
        width: 100%;
        height: 100%;
        border-radius: var(--rounded-base);
        aspect-ratio: 2/3;
        background-color: var(--color-gray-150);
        outline: 1px solid var(--theme-outline);
        transition: scale 150ms;

        &:hover { scale: 1.05; }
      }
    }

    .mediaInfo {
      position: relative;
      display: flex;
      width: 100%;
      height: calc(100% - 1rem);
      flex-direction: column;
      justify-content: flex-end;
      padding: 1.5rem;
      border: 1px solid var(--theme-outline);
      border-radius: 0 var(--rounded-base) var(--rounded-base) 0;
      border-left: 0;
      background-image: linear-gradient(rgb(255 255 255 / 0.5), var(--color-gray-100));
      gap: 1rem;
      @media (prefers-color-scheme: dark) { background-image: linear-gradient(rgb(0 0 0 / 0.5), var(--color-gray-100)); }

      .backdrop {
        position: absolute;
        z-index: -1;
        border-radius: inherit;
        background-position: center;
        background-size: cover;
        inset: 0;
      }

      .mediaRating {
        display: flex;
        align-items: center;
        color: var(--theme-text-title);
        gap: 0.5rem;
      }

      .mediaTitle {
        color: var(--theme-text-title);
        font-size: 1.375rem;
        font-weight: 500;
      }

      .mediaOverview {
        @include util.line-clamp(3);
      }

      .actions {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: -8px;
        margin-left: -8px;
        gap: 0.5rem;
      }
  }
}
