@use "@/styles/util";
@import "@/styles/media";

.mediaCard {
  display: flex;
  flex-direction: column;

  .posterLink {
    display: flex;
    overflow: hidden;
    border: 1px solid var(--theme-outline);
    border-radius: var(--rounded-base);

    .mediaPoster {
      object-fit: cover;
      object-position: center;
    }

    .mediaPosterFallback {
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--color-gray-400);
    }

    .mediaPoster,
    .mediaPosterFallback {
      width: 100%;
      height: 100%;
      aspect-ratio: 2/3;
      background-color: var(--color-gray-150);
      transition: scale 150ms;

      &:hover { scale: 1.05; }
    }
  }

  .mediaInfo {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 1rem;
    gap: 0.5rem;

    .mediaTitle {
      display: block;
      color: var(--theme-text-title);
      font-size: 1.125rem;
      font-weight: 500;
      @include util.truncate();
    }

    .mediaDetails {
      display: flex;

      > :not(:first-child)::before {
        @include util.circular-divider();
      }

      .rating {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 0.25rem;
      }
    }
  }
}
