@use "@/styles/util";
@import "@/styles/media";

.featuredCard {
  position: relative;
  border: 1px solid var(--theme-outline);

  .backdrop {
    z-index: -1;
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
  }

  .infoContainer {
    display: flex;
    background-image: linear-gradient(
      rgb(255, 255, 255, 0.75),
      rgb(255, 255, 255, 0.95)
    );
    backdrop-filter: blur(8px);
    @media (prefers-color-scheme: dark) {
      background-image: linear-gradient(rgb(0, 0, 0, 0.75), rgb(0, 0, 0, 0.95));
    }

    .posterLink {
      width: 25%;
      flex-shrink: 0;
      display: flex;

      .moviePoster {
        aspect-ratio: 2/3;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        transition: 150ms scale;
        outline: 1px solid var(--theme-outline);
        background-color: var(--dynamic-gray-150);
      }
    }

    .movieInfo {
      padding: 1.5rem;
      display: flex;
      gap: 1rem;
      flex-direction: column;
      justify-content: flex-end;

      .movieRating {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        color: var(--theme-text-heading);

        .ratingIcon {
          color: var(--dynamic-yellow-600);
        }
      }

      .movieTitle {
        font-size: 1.375rem;
        color: var(--theme-text-heading);
      }

      .movieOverview {
        font-size: 1.125rem;
        @include util.line-clamp(3);
      }

      .actions {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        margin-left: -8px;
        margin-bottom: -8px;
      }
    }
  }
}
