@use "@/styles/util";
@import "@/styles/media";

.featuredCard {
  position: relative;
  border: 1px solid var(--theme-outline);

  .backdrop {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    inset: 0;
  }

  .infoContainer {
    display: flex;
    backdrop-filter: blur(8px);
    background-image: linear-gradient(rgb(255, 255, 255, 0.75), rgb(255, 255, 255, 0.95));
    @media (prefers-color-scheme: dark) { background-image: linear-gradient(rgb(0, 0, 0, 0.75), rgb(0, 0, 0, 0.95)); }

    .posterLink {
      display: flex;
      width: 25%;
      flex-shrink: 0;

      .moviePoster {
        width: 100%;
        height: 100%;
        aspect-ratio: 2/3;
        background-color: var(--dynamic-gray-150);
        object-fit: cover;
        object-position: center;
        outline: 1px solid var(--theme-outline);
        transition: 150ms scale;
      }
    }

    .movieInfo {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding: 1.5rem;
      gap: 1rem;

      .movieRating {
        display: flex;
        align-items: center;
        color: var(--theme-text-heading);
        gap: 0.5rem;

        .ratingIcon { color: var(--dynamic-yellow-600); }
      }

      .movieTitle {
        color: var(--theme-text-heading);
        font-size: 1.375rem;
      }

      .movieOverview {
        font-size: 1.125rem;
        @include util.line-clamp(3);
      }

      .actions {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: -8px;
        margin-left: -8px;
        gap: 0.5rem;
      }
    }
  }
}
