@use "@/styles/color";
@import "@/styles/media";

.navbar {
  width: 100%;
  height: var(--content-nav-height);
  background-color: color.$gray-900;
  color: color.$gray-300;

  .navbarContent {
    position: relative;
    display: flex;
    width: 100%;
    max-width: var(--content-max-width);
    height: 100%;
    align-items: center;
    gap: 1.5rem;
    margin-inline: auto;

    .brandLogo {
      color: color.$gray-100;
      font-size: 1.25rem;
      font-weight: 500;
    }

    .navigation {
      @include media("<md") {
        position: absolute;
        z-index: 10;
        top: var(--content-nav-height);
        height: 100vh;
        background: var(--theme-background);
        inset: calc(var(--content-spacing) * -1);
        opacity: 0;
        pointer-events: none;

        &[data-menu-state="active"] {
          opacity: 1;
          pointer-events: initial;
        }
      }

      .links {
        display: flex;
        list-style: none;
        @include media("<phone") { flex-direction: column; }

        .link {
          display: block;
          padding-inline: 1rem;
          @include media("<phone") {
            padding-block: 1.5rem;
            padding-inline: var(--content-spacing);
          }
        }
      }
    }

    .searchBar {
      flex-grow: 1;
      @include media("<phone") { display: none; }

      .searchButton { color: var(--theme-text-body); }
    }

    .menus {
      display: flex;
      margin-left: auto;
      gap: 0.5rem;

      .userMenu {
        @include media("<md") { display: none; }
      }

      .mobileMenu {
        @include media(">md") { display: none; }
      }
    }
  }
}
