.notFoundPage {
  display: flex;
  min-height: inherit;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  text-align: center;

  div { font-size: var(--font-size-paragraph); }
}