@keyframes dialogOpen {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.dialog:modal {
  width: 100%;
  max-width: var(--content-width);
  border-radius: var(--rounded-lg);
  margin: auto;
  background-color: var(--dynamic-gray-150);
  color: var(--theme-text-body);

  &[open] { animation: dialogOpen 150ms; }
  &::backdrop { background-color: rgb(0 0 0 / 0.5); }

  .modalDismiss {
    position: absolute;
    top: 12px;
    right: 12px;
  }

  .modalHeader {
    display: flex;
    flex-direction: column;
    padding: 2rem 2.5rem;
    gap: 0.5rem;
  }

  .modalContent {
    min-width: 300px;
    min-height: 150px;
    max-height: 40rem;
    padding: 2.5rem;
    padding-top: 0;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 0.75rem;
      height: 100%;
      border-radius: 0 0.25rem 0.25rem 0;
      background-color: transparent;

      &-thumb {
        border: 0.25rem solid var(--dynamic-gray-150);
        border-radius: var(--rounded-full);
        background-color: var(--dynamic-gray-500);

        &:hover { background-color: var(--dynamic-gray-600); }
      }
    }
  }
}
