@import "@/styles/media";

.scrollerContainer {
  position: relative;

  &::before {
    left: -12px;
    background-image: linear-gradient(
      to left,
      transparent,
      var(--theme-background)
    );
  }

  &::after {
    right: -12px;
    background-image: linear-gradient(
      to right,
      transparent,
      var(--theme-background)
    );
  }

  &[data-scroll-position="start"]::before { opacity: 0; }
  &[data-scroll-position="end"]::after { opacity: 0; }

  .scrollerTrack {
    display: flex;
    overflow: hidden;
    max-width: var(--content-max-width);
    padding: var(--content-spacing);
    margin: calc(var(--content-spacing) * -1);
    overflow-x: auto;
    scroll-behavior: smooth;

    &::-webkit-scrollbar { display: none; }
  }
}
