@import "@/styles/media";

.scrollerContainer {
  position: relative;

  &::before {
    left: -12px;
    background-image: linear-gradient(
      to left,
      transparent,
      var(--theme-background)
    );
  }

  &::after {
    right: -12px;
    background-image: linear-gradient(
      to right,
      transparent,
      var(--theme-background)
    );
  }

  &[data-scroll-position="start"]::before { opacity: 0; }
  &[data-scroll-position="end"]::after { opacity: 0; }

  .scrollerTrack {
    --scroller-gap: var(--content-spacing);
    --scroller-max-width: calc(var(--content-width) - var(--sidebar-width) - var(--layout-gap) + (var(--content-spacing) * 2));
    --scroller-item-width: calc((var(--scroller-max-width) - (var(--scroller-items-per-scroll) + 1) * var(--scroller-gap)) / var(--scroller-items-per-scroll));
    display: grid;
    overflow: hidden;
    max-width: var(--scroller-max-width);
    padding: var(--content-spacing);
    margin: calc(var(--content-spacing) * -1);
    gap: var(--content-spacing);
    grid-auto-flow: column;
    grid-template-columns: repeat(var(--scroller-items-per-scroll), 1fr);
    overflow-x: auto;
    scroll-behavior: smooth;

    &::-webkit-scrollbar { display: none; }

    > * { width: var(--scroller-item-width); }
  }
}
