@import "@/styles/media";

.scrollerContainer {
  position: relative;

  &::before {
    left: -12px;
    background-image: linear-gradient(
      to left,
      transparent,
      var(--theme-background)
    );
  }

  &::after {
    right: -12px;
    background-image: linear-gradient(
      to right,
      transparent,
      var(--theme-background)
    );
  }

  &[data-scroll-position="start"]::before { opacity: 0; }
  &[data-scroll-position="end"]::after { opacity: 0; }

  .scrollerTrack {
    display: flex;
    overflow: hidden;
    max-width: var(--content-max-width);
    margin-block: calc(var(--content-spacing) * -1);
    overflow-x: auto;
    padding-block: var(--content-spacing);
    scroll-behavior: smooth;

    @include media("<md") {
      margin-inline: calc(var(--content-spacing) * -1);
      padding-inline: var(--content-spacing);
    }

    &::-webkit-scrollbar { display: none; }
  }
}
