@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.75;
  }
}

.skeleton {
  animation: pulse 2s infinite;
  background-color: var(--dynamic-gray-150);

  &.roundedBase { border-radius: 4px; }
  &.roundedFull { border-radius: 100rem; }
}

.skeletonParagraphContainer {
  display: flex;
  flex-direction: column;
  gap: 6px;

  > * { flex: 1; }
}
