@use "sass:color" as sass-color;
@use "@/styles/color";

.skeleton {
  background-color: sass-color.scale(color.$gray-500, $alpha: -85%);

  &.roundedBase { border-radius: var(--rounded-sm); }
  &.roundedFull { border-radius: var(--rounded-full); }
}

.skeletonParagraphContainer {
  display: flex;
  flex-direction: column;
  gap: 6px;

  > * { flex: 1; }
}
