.tabsRoot {
  display: flex;
  gap: 1rem;

  &[data-orientation="horizontal"] { flex-direction: column; }

  .tabsList {
    z-index: 10;
    display: flex;
    flex-shrink: 0;
    gap: 2rem;

    &[data-sticky="true"] {
      position: sticky;
      top: 0;
    }

    .tabsTrigger {
      color: var(--theme-text-body);
      cursor: pointer;
      font-size: var(--scale-0);
      font-weight: 500;
      padding-block: var(--size-4);
      text-align: left;
      user-select: none;

      &[data-state="active"] { color: var(--theme-text-title) }
    }
  }

  .tabsContent { flex-grow: 1; }
}
