.tabsRoot {
  display: flex;

  &[data-orientation="horizontal"] { flex-direction: column; }

  .tabsList {
    position: sticky;
    top: 0;
    display: flex;
    flex-shrink: 0;
    gap: var(--size-8);

    &.sticked { z-index: 10; }

    .tabsTrigger {
      position: relative;
      background-color: transparent;
      cursor: pointer;
      font-size: var(--scale-0);
      font-weight: 500;
      letter-spacing: 1px;
      padding-block: var(--size-4);
      text-transform: uppercase;
      user-select: none;

      &[data-state="active"] {
        &::after {
          position: absolute;
          top: 100%;
          left: 50%;
          width: 6px;
          height: 6px;
          border-radius: var(--radius-full);
          content: "";
          transform: translate(-50%, -50%);
        }
      }
    }
  }

  .tabsContent {
    flex-grow: 1;
    padding: var(--size-8);
  }
}
