.tabsRoot {
  display: flex;
  &[data-orientation="horizontal"] {
    flex-direction: column;
  }

  .tabsList {
    flex-shrink: 0;
    position: sticky;
    top: 0;
    display: flex;
    gap: var(--size-8);

    &.sticked {
      z-index: 10;
    }

    .tabsTrigger {
      cursor: pointer;
      user-select: none;
      font-weight: 500;
      padding-block: var(--size-4);
      background-color: transparent;
      font-size: var(--scale-0);
      text-transform: uppercase;
      position: relative;
      letter-spacing: 1px;

      &:hover {
      }

      &[data-state="active"] {
        &::after {
          content: "";
          width: 6px;
          height: 6px;
          border-radius: var(--radius-full);
          position: absolute;
          top: 100%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }

  .tabsContent {
    flex-grow: 1;
    padding: var(--size-8);
  }
}
