@use "@/styles/util";
@import "@/styles/media";

.searchPersonCard {
  display: flex;
  align-items: center;
  gap: 1rem;

  .photoLink {
    display: flex;
    transition: scale 150ms;

    .personPhoto {
      object-fit: cover;
      object-position: center;
    }

    .personInitials {
      display: grid;
      font-size: 2rem;
      place-content: center;
    }

    .personPhoto,
    .personInitials {
      width: 100%;
      height: 100%;
      border: 1px solid var(--theme-outline);
      aspect-ratio: 2/3;
      background-color: var(--dynamic-gray-150);
    }

    &:hover { scale: 1.05; }
  }

  .personInfo {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .personName {
      color: var(--theme-text-title);
      font-size: 1.125rem;
      font-weight: 500;
      @include util.line-clamp(1);
    }

    .personDetails {
      :not(:first-child)::before {
        color: var(--theme-text-body);
        @include util.circular-divider();
      }
    }
  }
}
