@import "@/styles/media";

.movieInfoPage {
  .pageLayout {
    --sidebar-width: 8rem;
    --gap: 4rem;
    display: flex;
    align-items: flex-start;
    gap: var(--gap);

    .pageContent {
      width: calc(100% - var(--sidebar-width) - var(--gap));
      flex-grow: 1;

      > section {
        > header {
          display: flex;
          align-items: center;
          justify-content: space-between;

          h1 {
            display: flex;
            align-items: center;
            gap: 1rem;
          }

          :global(.scrollerControls) {
            display: flex;
            gap: 0.5rem;

            @include media("<md") { display: none; }
          }
        }
      }
    }

    .pageSidebar {
      position: sticky;
      z-index: 10;
      top: calc(var(--content-nav-height) + 4rem);
      width: var(--sidebar-width);
      @include media("<lg") { display: none; }

      .sidebarLinks {
        list-style: none;

        .sidebarLink {
          padding-left: 1rem;
          border-left: 2px solid var(--dynamic-gray-300);
          color: var(--theme-text-body);
          cursor: pointer;
          padding-block: 0.5rem;

          &:hover { color: var(--theme-text-heading); }
          &[data-state="active"] {
            border-color: var(--dynamic-gray-900);
            color: var(--theme-text-heading);
            font-weight: 500;
          }
        }
      }

      .buttons {
        margin-top: 1rem;

        > * {
          width: 100%;
          justify-content: center;
        }
      }
    }
  }
}
