@import "@/styles/media";

.movieInfoPage {
  --poster-width: clamp(120px, 50%, 300px);
  --sidebar-width: 200px;
  --gap: 4rem;

  .layout {
    display: flex;
    align-items: flex-start;
    gap: var(--gap);

    .content {
      width: 100%;
      @include media(">desktop") {
        width: calc(100% - var(--sidebar-width) - var(--gap));
      }

      > section {
        > header {
          display: flex;
          align-items: center;
          justify-content: space-between;

          h1 {
            display: flex;
            align-items: center;
            gap: 1rem;
          }

          :global(.scrollerControls) {
            display: flex;
            gap: 0.5rem;

            @include media("<md") { display: none; }
          }
        }
      }
    }

    .sidebar {
      position: sticky;
      z-index: 10;
      top: var(--content-spacing);
      width: var(--sidebar-width);
      margin-top: var(--content-spacing);
      @include media("<desktop") { display: none; }

      .sidebarLinks {
        list-style: none;

        .sidebarLink {
          padding-left: 1rem;
          border-left: 2px solid var(--dynamic-gray-300);
          color: var(--theme-text-body);
          cursor: pointer;
          padding-block: 0.5rem;

          &:hover { color: var(--theme-text-title); }
          &[data-state="active"] {
            border-color: var(--dynamic-gray-900);
            color: var(--theme-text-title);
            font-weight: 500;
          }
        }
      }

      .actions {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        gap: 0.5rem;

        > * {
          width: 100%;
        }
      }
    }
  }
}
