@import "@/styles/media";

.mediaInfoPage {
  --sidebar-width: 190px;
  --layout-gap: 4rem;

  .layout {
    display: flex;
    align-items: flex-start;
    gap: var(--layout-gap);

    .content {
      width: 100%;
      @include media(">desktop") {
        width: calc(100% - var(--sidebar-width) - var(--layout-gap));
      }
    }
  }
}
