@import "media";
@import "default";

.inlineCenter { margin-inline: auto; }
.pagePadding { padding-block: var(--content-spacing); }
.contentWidth { max-width: var(--content-width); }
.contentPadding {
  @include media("<desktop") { padding-inline: var(--content-spacing); }
}